<mat-card class="card">
    <img src="imgs/titleText.gif" alt="Título">
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Ej: juan123" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="********" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        <p>¿No tienes una cuenta? <a href="/auth/register">Regístrate</a></p>
    </mat-card-content>
</mat-card>