<mat-card class="card" @fadeIn>
    <img src="imgs/titleText.gif" alt="Título">
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" action="comprobar_usuario.php">
            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput required name="username" ngModel minlength=5>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="********" required name="password" ngModel minlength="6">
            </mat-form-field>

            <mat-checkbox name="recordar" ngModel>
                <mat-label>Mantener sesión iniciada</mat-label>
            </mat-checkbox>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Iniciar Sesión</button>
            <p>¿No tienes una cuenta? <a href="/auth/register">Regístrate</a></p>
        </form>
    </mat-card-content>
</mat-card>