<div id="cajita">
    <img src="imgs/titleText.gif" alt="Título" draggable="false">
    <button mat-fab extended>
        <mat-icon>autorenew</mat-icon>
        Nueva partida
    </button>
    <button mat-fab extended>
        <mat-icon>arrow_forward</mat-icon>
        Cargar partida
    </button>
    <button mat-fab extended>
        <mat-icon>info</mat-icon>
        Información
    </button>
    <button mat-fab extended>
        <mat-icon>format_list_numbered</mat-icon>
        Ranking
    </button>
    <button mat-fab extended>
        <mat-icon>group</mat-icon>
        Autores
    </button>
    <button mat-fab extended>
        <mat-icon>settings</mat-icon>
        Versión
    </button>
</div>