<mat-card class="card">
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-content>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

            <mat-form-field appearance="fill">
                <mat-label>Dirección de correo</mat-label>
                <input matInput placeholder="Ej: juan123@hotmail.com" required name="email" ngModel email>
                <mat-error
                    *ngIf="registerForm.controls['email']?.invalid && (registerForm.controls['email']?.touched || registerForm.controls['email']?.dirty)">
                    <span *ngIf="registerForm.controls['email']?.errors?.['required']">Este campo es obligatorio.</span>
                    <span *ngIf="registerForm.controls['email']?.errors?.['email']">Ingrese un correo válido.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Ej: juan123" required name="username" ngModel minlength=3>
                <mat-error
                    *ngIf="registerForm.controls['username']?.invalid && (registerForm.controls['username']?.touched || registerForm.controls['username']?.dirty)">
                    <span *ngIf="registerForm.controls['username']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="registerForm.controls['username']?.errors?.['minlength']">Mínimo 3 caracteres.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="********" required name="password" ngModel minlength="6">
                <mat-error
                    *ngIf="registerForm.controls['password']?.invalid && (registerForm.controls['password']?.touched || registerForm.controls['password']?.dirty)">
                    <span *ngIf="registerForm.controls['password']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="registerForm.controls['password']?.errors?.['minlength']">Mínimo 6 caracteres.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Repetir contraseña</mat-label>
                <input matInput type="password" placeholder="********" required name="confirmPassword" ngModel>
                <mat-error
                    *ngIf="registerForm.controls['confirmPassword']?.invalid && (registerForm.controls['confirmPassword']?.touched || registerForm.controls['confirmPassword']?.dirty)">
                    <span *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="passwordMismatch">Las contraseñas no coinciden.</span> <!--ETO NO SIRVE-->
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Registrarse</button>
        </form>

    </mat-card-content>
    <p>¿Tienes una cuenta? <a href="/auth/login">Inicia sesión</a></p>
</mat-card>
