<mat-card class="card" @fadeIn>
    <img src="/imgs/titleText.gif" alt="">
    <mat-card-title>Crear cuenta</mat-card-title>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <!--
            /////////////////////////////////////////////////////////
            ///////////////////       email       ///////////////////
            /////////////////////////////////////////////////////////
            -->

            <mat-form-field appearance="fill">
                <mat-label>Dirección de correo</mat-label>
                <input matInput placeholder="Ej: tugatita69@hot.oreja" required name="email" ngModel email>
                <mat-error *ngIf="form.controls['email']?.invalid || form.controls['email']?.touched">
                    <span *ngIf="form.controls['email']?.errors?.['required']">Este campo es obligatorio.</span>
                    <span *ngIf="form.controls['email']?.errors?.['email']">Ingrese un correo válido.</span>
                </mat-error>
            </mat-form-field>


            <!--
            /////////////////////////////////////////////////////////
            ///////////////////      usuario      ///////////////////
            /////////////////////////////////////////////////////////
            -->

            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput placeholder="Ej: juanxirivella902" required name="username" ngModel minlength=5>
                <mat-error *ngIf="form.controls['username']?.invalid || form.controls['username']?.dirty">
                    <span *ngIf="form.controls['username']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="form.controls['username']?.errors?.['minlength']">Mínimo 5 caracteres.</span>
                </mat-error>
            </mat-form-field>

            <!--
            //////////////////////////////////////////////////////////
            ///////////////////     contraseña     ///////////////////
            //////////////////////////////////////////////////////////
            -->

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="********" required name="password" ngModel minlength="6">
                <mat-error *ngIf="form.controls['password']?.invalid || form.controls['password']?.dirty">
                    <span *ngIf="form.controls['password']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="form.controls['password']?.errors?.['minlength']">Mínimo 6 caracteres.</span>
                </mat-error>
            </mat-form-field>

            <!--
            //////////////////////////////////////////////////////////
            /////////////      Confirmar contraseña      /////////////
            //////////////////////////////////////////////////////////
            -->

            <mat-form-field appearance="fill">
                <mat-label>Repetir contraseña</mat-label>
                <input matInput type="password" placeholder="********" required name="confirmPassword" ngModel>
                <mat-error *ngIf="form.controls['confirmPassword']?.invalid || form.controls['confirmPassword'].touched">
                    <span *ngIf="form.controls['confirmPassword']?.errors?.['required']">Este campo es
                        obligatorio.</span>
                    <span *ngIf="passwordMismatch">Las contraseñas no coinciden.</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrarse</button>
        </form>

    </mat-card-content>
    <p>¿Tienes una cuenta? <a href="/auth/login">Inicia sesión</a></p>
</mat-card>

<!--

    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////                         :(                        /////////////////////////////////////
    /////////////////////////////////////                       Queso                       /////////////////////////////////////                                                                    //////////////////////////////////
    /////////////////////////////////////                         :)                        /////////////////////////////////////                      
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
-->