<div class="card">
    <div id="izquierda">
        <div id="arriba">
            <button mat-button><</button>
            <img id="icono" src="imgs/gato.jpg" alt="Icono">
            <button mat-button>></button>
        </div>
        <div id="abajo">
            <!--estos dos p y los del siguiente div tienen texto unicamente como placeholder hasta que los conectemos con la BD-->
            <p id="nombre"><b>NOMBRE</b></p>
            <p id="registro">FECHA REGISTRO</p>
        </div>
    </div>
    <div id="derecha">
        <div class="parametro">
            <p><b>Puntuación máxima</b></p>
            <p>0</p>
        </div>
        <div class="parametro">
            <p><b>Posición en el ranking</b></p>
            <p>1º</p>
        </div>
        <div class="parametro">
            <p><b>Ciudades curadas</b></p>
            <p>0</p>
        </div>
    </div>
</div>
