<div id="cajita">
    <img src="imgs/titleText.gif" alt="Título" id="titulo">
    <h2>Autores</h2>
    <div id="horizontal">
        <div class="autor" id="izquierda">
            <div class="contenedorIcono">
                <img src="imgs/sopa.jpg" alt="Sebas" class="iconoAutor">
            </div>
            <p>Sebastián "Sopa" Acosta Cortizas</p>
        </div>
    
        <div class="autor" id="derecha">
            <img src="imgs/pendejo.png" alt="Ángel" class="iconoAutor">
            <p>Ángel "Gelo" Muñoz Couso</p>
        </div>
    </div>
</div>