<div class="cajita">
    <div class="contenido">
        <div class="pandemic">
            <img src="/imgs/titleText.gif" alt="">
        </div>
        <h1 class="western" Proyecto Pandemic></h1>
        <p style="margin-bottom: 0.28cm"><br />
            <br />

        </p>
        <p style="margin-bottom: 0.28cm">Juego basado en el
            juego de mesa “Pandemic”, que consiste en salvar el planeta de
            cuatro infecciones mediante el desarrollo de vacunas y curas.</p>
        <p style="margin-bottom: 0.28cm">El juego comienza
            <u>generando</u> las diferentes ciudades, algunas de ellas ya
            infectadas, y finaliza cuando el jugador logra erradicar todas las
            infecciones.
        </p>
        <p style="margin-bottom: 0.28cm">Está dividido por
            turnos, en cada cual podemos:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.28cm">Desplazarnos
                    por las ciudades del mundo.</p>
            </li>
            <li>
                <p style="margin-bottom: 0.28cm">Tratar la
                    infección de la ciudad en la que nos encontremos.</p>
            </li>
            <li>
                <p style="margin-bottom: 0.28cm">Contribuir al
                    desarrollo de las vacunas.</p>
            </li>
        </ul>
        <p style="margin-bottom: 0.28cm">Durante la partida
            los brotes se van propagando de las ciudades infectadas a las
            colindantes mediante un sistema de infección por niveles. Por
            ejemplo, España puede estar infectada al nivel 1 de enfermedad roja,
            mientras que Italia está al nivel 3 de la misma.</p>
        <p style="margin-bottom: 0.28cm">Requisitos a nivel
            programación:</p>
        <ul>
            <li>
                <p style="margin-bottom: 0.28cm">Ser responsive
                    (para dispositivos móviles, forzaremos la rotación de la pantalla
                    90º).</p>
            </li>
            <li>
                <p style="margin-bottom: 0.28cm">Una clase para
                    cada elemento del juego:</p>
                <ul>
                    <li>
                        <p style="margin-bottom: 0.28cm">Ciudades</p>
                        <ul>
                            <li>
                                <p style="margin-bottom: 0.28cm">Nombre</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">Estado</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">Ciudades
                                    colindantes</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">Infección
                                    (herencia)</p>
                            </li>
                        </ul>
                    <li>
                        <p style="margin-bottom: 0.28cm">Infecciones</p>
                        <ul>
                            <li>
                                <p style="margin-bottom: 0.28cm">Color</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">Características
                                    (cálculos, métodos, etc.)</p>
                            </li>
                        </ul>
                    <li>
                        <p style="margin-bottom: 0.28cm">Inventario (si
                            el programa se extiende; si no, basta con almacenar la cantidad de
                            curas y el progreso de cada vacuna en la lógica principal del
                            programa)</p>
                        <ul>
                            <li>
                                <p style="margin-bottom: 0.28cm">Curas</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">Vacunas</p>
                            </li>
                            <li>
                                <p style="margin-bottom: 0.28cm">¿Power-ups?</p>
                            </li>
                        </ul>
                </ul>
        </ul>
    </div>
</div>