.cajita {
    display: flex;
    flex-direction: column;
    background-color: #b7ff80d2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    width: 1000px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    font-size: larger;

}


.contenido {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(92, 202, 82, 0.822);
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.pandemic {
    display: flex;
    justify-content: center;
}

.cajita::-webkit-scrollbar {
    width: 12px;

    height: 12px;

}


.cajita::-webkit-scrollbar-track {
    background: #aff786;

    border-radius: 10px;

}


.cajita::-webkit-scrollbar-thumb {
    background: rgba(92, 202, 82, 0.822);

    border-radius: 10px;

}


.cajita::-webkit-scrollbar-thumb:hover {
    background: rgba(66, 146, 59, 0.822);

}


.cajita::-webkit-scrollbar-thumb:active {
    background: rgba(42, 94, 38, 0.822);
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        .cajita {
            width: 100%;

            height: 100vh;

            top: 0;
            left: 0;
            transform: none;

            padding: 10px;

        }

        .contenido {
            width: 93%;
            height: auto;
            top: 0;
            left: 0;
            transform: none;

            padding: 10px;
        }
    }
}